@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", 'Times New Roman', Times, serif;
    
    
}
body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.wrapper{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);    
    width: 100%;
    min-height: calc(100vh - 220px);
    max-height: 100vh;
    overflow: hidden;
}
.logo img{
    height: 50px;
    width:auto;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    max-width: 100%;
    width: 100%;
    padding: 15px;
}
.links{
    margin: 15px;
}
a{
    text-decoration: none;
    margin-right: 20px;
    color: #031A23;
}
/* form */
.contact-form{
    width: 80%;
    margin: 0.5% auto 0 auto;
}
h2{
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
}
.form-group {
    margin-bottom: 20px;
}
  
label {
    display: block;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

}
  
input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    
}
  
button{
    background-color: #C60000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0px auto;
}
  
button:hover {
    background-color: #930000;
}
/* footer */
footer{
    height: 220px;
    background-color: rgba(115, 115, 115, 0.2);
}

.info{
    width: 70%;
    margin: 0 auto;
    height: 120px;
    display: flex;
    justify-content: space-between;
    
}
.item{
    margin: 30px 0;
}
.item img{
    height: 40px;
    width: auto;
    margin: 0 25%;
}

.social{
    text-align: center;

}x
.links{
    display: flex;
    width: fit-content;
    margin: 15px auto;
}
.links img{
    height: 40px;

}